<a href="https://colab.research.google.com/github/Sulo-proj/DSMP/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
# Salary(Lakhs) : Tax(%)

# Below 5 : 0%
# 5-10 : 10%
# 10-20 : 20%
# aboove 20 : 30%

ctc = int(input('Enter the CTC in Lakhs: '))
hra = ctc*.1
da = ctc*.05
pf = ctc*.03

tax=0
if ctc<5:
  tax=0
elif ctc>=5 and ctc<10:
  tax = 0.1
elif ctc>=10 and ctc<20:
  tax = 0.2
else:
  tax = 0.3

final_tax = tax*ctc
take_home = ctc-hra-da-pf-final_tax
print('Take home Salary is : ', round((take_home/12*100000), 2))

Enter the CTC in Lakhs: 12
Take home Salary is :  62000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
side_a = int(input('Enter the first angle: '))
side_b = int(input('Enter the second angle: '))
side_c = int(input('Enter the third angle: '))

if (side_a + side_b + side_c) == 180 and side_a >0 and side_b > 0 and side_c > 0:
  print('It can form a triangle')

else:
  print('It cannot form a triangle')

Enter the first angle: -12
Enter the second angle: 45
Enter the third angle: 135
It cannot form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cost = int(input('Enter the cost price:'))
sell = int(input('Enter the selling price:'))

if sell > cost:
  print('Its a Profit')
elif sell > cost :
  print( "Its a Loss")
else:
  print('No profit and No loss')

Enter the cost price:100
Enter the selling price:100
No profit and No loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
inp = int(input("""
Choose one of the options:
1. cm to ft
2. km to miles
3. USD to INR
4. exit
"""))

if inp == 1:
         cms = int(input('Enter the cms to convert to ft: '))
         print('Result in ft is :', round(cms/30.48, 2))
elif inp ==2:
         kms = int(input('Enter the kms to convert to miles: '))
         print('Result in miles is : ', round(kms*0.62137, 2))
elif inp ==3:
         usd = int(input('Enter the USD to convert to INR: '))
         print('Result in INR is : ', round(usd*83.98 , 2))
else:
         print('Thank you!')

Choose one of the options:
1. cm to ft
2. km to miles
3. USD to INR
4. exit
3
Enter the USD to convert to INR: 50
Result in INR is :  4199.0

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
n = 10

n1 = 0
n2 = 1

for i in range(n):
  n3 = n1+n2
  print('{}'.format(n1), end=', ')
  n1=n2
  n2=n3

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
num = int(input('Enter the number to find the factorial: '))
fact=1
for i in range(1, num+1):
  fact *= i
print(fact)

Enter the number to find the factorial: 5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
num = int(input('Enter the number to reverse: '))
rev=0
while num>0:
  digit = num%10
  rev = rev*10 + digit
  num = num//10
print(rev, end='')

Enter the number to reverse: 123456
654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
sum=0
num = int(input('Enter the number '))
# for n in range(1, num+1):
n=1
while n <= num:

  if n%5==0 :
    n += 1
    continue
  sum += n
  if sum>300:
    sum -= n
    break
  n += 1
print(sum)

Enter the number 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
num=1
i=1
sum=0
while 1:
  num = int(input('Enter a number:'))
  if num==0:
    break
  sum = sum+num
  avg = sum/i
  i +=1

print('Sum = ', sum, ' and Average = ', avg)

Enter a number:1
Enter a number:2
Enter a number:5
Enter a number:0
Sum =  8  and Average =  2.6666666666666665

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000, 3201):
  if i%7 == 0 and i%5 !=0:
    print(i, end=', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for i in range(1000, 3001):
  if i%2==0 and i//10%2==0 and i//100%2==0 and i//1000%2==0:
    print(i, end=' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
x= y = 0

while True:
  inp = input('Enter the Robot Movement : ')
  if inp == '!':
    break

  direction, steps = inp.split()
  steps = int(steps)
  if direction == 'UP':
    y += steps
  elif direction == 'DOWN':
    y -= steps
  elif direction == 'LEFT':
    x -= steps
  elif direction == 'RIGHT':
    x += steps

dist = (x**2 + y**2) **.5

print(int(dist))

Enter the Robot Movement : UP 6
Enter the Robot Movement : DOWN 4
Enter the Robot Movement : LEFT 3
Enter the Robot Movement : RIGHT 2
Enter the Robot Movement : !
2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
num = int(input('Enter a number: '))

for i in range(2, num//2):
  if num%i ==0:
    print('Not a Prime Number')
    break
else:
  print('Prime number')

Enter a number: 13
2 ,  6
3 ,  6
4 ,  6
5 ,  6
Prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
num1 = int(input('Enter the start of range '))
num2 = int(input('Enter the end of range '))

for inp_num in range(num1, num2+1):
  num = inp_num
  count = 1

  power = len(str(num))
  if power <=3:
    power = 3

  num = inp_num
  sum = 0
  while num>0:
    sum = (num%10)**(power) +sum
    num = num//10
  if sum == inp_num:
    print(inp_num, end=', ')

Enter the start of range 0
Enter the end of range 10000
0, 1, 153, 370, 371, 407, 1634, 8208, 9474,

1###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
import math
hr = int(input('Enter the Hour: '))
min = int(input('Enter the Minutes: '))
if hr>12 or min>59:
  print('Invalid Input')
else:
  if min == 0:
    min = 60
  if hr ==12:
    hr = 0

  mins = int(min/5)

  if hr>mins:
    angle = (hr-mins) * 30
  else:
    angle = (mins-hr) * 30

  print(math.floor(angle))

Enter the Hour: 12
Enter the Minutes: 5
0 1
30

5###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here
print("Enter both Rectangel points coordinates <x y>")

l1_x, l1_y = list(map(int, input('Enter L1 coordinate value  (Two value space seperated):').split()))
r1_x, r1_y = list(map(int, input('Enter r1 coordinate value,(Two value space seperated):').split()))

l2_x, l2_y = list(map(int, input('Enter L2 coordinate value,(Two value space seperated):').split()))
r2_x, r2_y = list(map(int, input('Enter r2 coordinate value,(Two value space seperated):').split()))

# if rectangle has area 0, no overlap
if l1_x == r1_x or l1_y == r1_y or r2_x == l2_x or l2_y == r2_y:
  print("Don't Overlap")

# If one rectangle is on left side of other
elif l1_x > r2_x or l2_x > r1_x:
  print("Don't Overlap")

# If one rectangle is above other
elif r1_y > l2_y or r2_y > l1_y:
  print("Don't Overlap")
else:
  print("Overlap")