# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data", "Science", "Mentorship", "Program",  sep='-', end='-started-')
print("By", "CampusX", sep='-')

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# F = (9/5 × °C) + 32
celc = input('Enter the temperature in Celcius')
faren = (9/5 * int(celc)) + 32
print(faren)

Enter the temperature in Celcius38
100.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# take numbers in a and b
a = input('Enter the first number')
b = input('Enter the second number')
# create a temp variable
temp = None
# store a in temp, then b in a. then temp in b
temp = a
a = b
b = temp
# print the swapped no
print('Swapped first no is ',a)
print('Swapped second no is ',b)

Enter the first number5
Enter the second number7
Swapped first no is  7
Swapped second no is  5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
#  D = (( x 2 − x 1 ) 2 + ( y 2 − y 1 ) 2) **0.5   - sqrt
# get both coordinates in variables
# calculate using formula
# print result
x1 = input('Enter the first x coordinate')
y1 = input('Enter the first y coordinate')
x2 = input('Enter the second x coordinate')
y2 = input('Enter the second y coordinate')

d = ((int(x2)-int(x1))**2 + (int(y2)-int(y1))**2)**0.5
print(d)

Enter the first x coordinate1
Enter the first y coordinate5
Enter the second x coordinate2
Enter the second y coordinate3
2.23606797749979

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# i = (p * n * r ) / 100
# get p, n in years, r as input
# calculate using formula
# print result
p = input('Enter the principle amount')
n = input('Enter the number of years')
r = input('Enter the rate of interest')

i = (int(p) * int(n) * int(r))/100
print(i)

Enter the principle amount10000
Enter the number of years5
Enter the rate of interest12
6000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input('Enter the number of heads'))
legs = int(input('Enter the number of legs'))

dogs = legs//4
chicken = heads-dogs

print('Dogs are ', dogs)
print('Chicken are ', chicken)

Enter the number of heads5
Enter the number of legs18
Dogs are  4
Chicken are  1

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n = int(input('Enter the number'))
sqr = 0
for i in range(1, n+1):
  sqr += i**2
print('Sum of squares till ', n, ' is ',sqr)

Enter the number5
Sum of squares till  5  is  55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# a + (n-1)*d
a = int(input ('Enter the first term '))
b = int(input ('Enter the second term '))
n = int(input ('Enter the no of terms to calculate '))
d = b-a

result = a + (n-1)*d
print(result)

Enter the first term 3
Enter the second term 6
Enter the no of terms to calculate 5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
num1 = int(input('Enter the numerator for first fraction '))
den1 = int(input('Enter the denominator for first fraction '))
num2 = int(input('Enter the numerator for second fraction '))
den2 = int(input('Enter the denominator for second fraction '))

num = ((num1*den2) + (num2*den1))
den= (den1*den2)
print('{}/{}'.format(str(num),str(den)))

Enter the numerator for first fraction 1
Enter the denominator for first fraction 2
Enter the numerator for second fraction 1
Enter the denominator for second fraction 4
6/8

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
h_tank = int(input('Enter the height of Tank '))
l_tank = int(input('Enter the length of Tank '))
b_tank = int(input('Enter the breadth of Tank '))

h_glass = int(input ('Enter the height of glass '))
r_glass = int(input ('Enter the radius of glass '))

vol_tank = h_tank*l_tank*b_tank
vol_glass = 3.14*(r_glass)**2

print('Total no of glasses = ', vol_tank//vol_glass)

Enter the height of Tank 20
Enter the length of Tank 20
Enter the breadth of Tank 20
Enter the height of glass 3
Enter the radius of glass 1
Total no of glasses =  2547.0